/* Table of Contents
- Imports
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
	- Accessibility
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Container
	- Site Inner
	- Column Widths and Positions
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Genesis Simple Share
	- Jetpack
- Sticky Message
- Site Header
	- Site Title and Description
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Footer Widgets
- Site Footer
- Media Queries
	- Min-width: 800px
*/

$color-dark: #1b1f23;
$color-heading: #464c4c;
$color-body: #7f8c8d;
$color-links: #97a5a7;
$color-accent: #57e5ae;
$color-border: #ddd;
$color-light: #f3f3f4;
$color-input: #f7f7f8;
$color-select: #fffcd3;
$color-white: #fff;

/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */

/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background: 0 0;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: 400;
}

dfn {
	font-style: italic;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

mark {
	color: $color-heading;
	background: $color-select;
}

small {
	font-size: 80%;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid $color-border;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: 400;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td, th {
	padding: 0;
}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	display: table;
	content: " ";
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	display: table;
	clear: both;
	content: " ";
}

/* ## Accessibility
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut,
.wp-custom-logo .site-title,
.wp-custom-logo .site-description {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
	display: block;
	clip: auto !important;
	z-index: 100000;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.genesis-skip-link {
	margin: 0;

	li {
		width: 0;
		height: 0;
		list-style: none;
	}
}

.more-link {
	display: inline-block;
	clear: both;
}

/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	margin: 0;
	color: $color-heading;
	background-color: $color-white;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.9;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

::-moz-selection {
	color: $color-heading;
	background-color: $color-select;
}

::selection {
	color: $color-heading;
	background-color: $color-select;
}

a {
	border-bottom: 1px dotted $color-border;
	color: $color-body;
	text-decoration: none;
	word-wrap: break-word;
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: $color-accent;
}

p {
	margin: 0 0 30px;
	padding: 0;
	color: $color-body;

	&:before,
	&:after {
		display: table;
		content: " ";
	}
}

ol,
ul {
	margin: 0;
	padding: 0;
	color: $color-body;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 400;
}

cite,
em,
i {
	font-style: italic;
}

hr {
	margin-bottom: 2em;
	border: 1px solid $color-border;
	border-bottom: none;
}

blockquote {
	margin: 40px 20px;
	padding: 0 20px;
	border-left: 1px dotted $color-border;
}

figure {
	margin: 1em auto;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1em;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	line-height: 1.2;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* Gallery
--------------------------------------------- */

.gallery {

	.gallery-item {

		a {
			display: block;
			min-height: 100%;
			border: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
		}
	}
}

.gallery-caption {
	display: block;
}

.gallery-item {
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 5%;
	text-align: center;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	width: 100%;
	padding: 16px;
	border: none;
	border-radius: 3px;
	background-color: $color-input;
}

input:focus,
textarea:focus {
	border: none;
	outline: none;
	background-color: $color-border;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	opacity: 1;
	color: $color-body;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
	color: $color-body;
	-webkit-font-smoothing: antialiased;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	width: auto;
	padding: 0.75em 2em;
	border: 0;
	border-radius: 3px;
	color: $color-white;
	background-color: $color-heading;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	color: $color-white;
	background-color: $color-accent;
}

.entry-content .button:hover {
	color: $color-white;
}

.button {
	display: inline-block;

	+ .button {
		margin-top: 1em;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	width: 100%;
	margin-bottom: 40px;
	border: 1px solid $color-border;
	border-radius: 5px;
	border-spacing: 0;
	border-collapse: separate;
	color: $color-body;
	line-height: 2;
}

tr {

	&:first-of-type {
		border-radius: 5px 5px 0 0;

		td {
			border-top: none;
		}
	}
}

th {
	font-weight: bolder;
}

td,
th {
	padding: 0.5em;
	border-right: 1px solid $color-border;
	text-align: left;

	&:last-of-type {
		border-right: none;
	}

}

td {
	border-top: 1px solid $color-border;
	font-size: 16px;
}

/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-ms-keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;

	.home.blog & {
		padding-top: 60px;
		padding-bottom: 30px;
	}
}

.wrap {
	padding: 0 5%;
}

/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
	border-radius: 999px;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.author-box .avatar {
	width: 80px;
	height: 80px;
}

.comment .avatar {
	width: 50px;
	height: 50px;
	margin: 0 16px 24px 0;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 2.4em;
	padding: 1em 0;
	background-color: $color-light;
	font-size: 14px;
}

div.archive-description,
.author-box {
	margin-bottom: 30px;
	padding: 120px 0 70px;
	padding-bottom: 30px;
	border-bottom: 1px solid $color-input;
	background-position: center !important;
	background-size: cover !important;
	box-shadow: inset 0 0 0 9999px rgba(36, 43, 47, 0.8);
	font-size: 18px;
}

.single .author-box {
	padding-top: 30px;
	border-top: 1px solid $color-input;
}

.author-box-title {
	margin-bottom: 4px;
	font-size: 20px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;

	input {
		-webkit-appearance: none;
	}

	input[type="submit"] {
		clip: rect(0, 0, 0, 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 36px;
}

.archive-title,
.entry-title {
	margin-bottom: 0;
	color: $color-white;
	word-break: break-word;
}

.entry-title a {
	border-bottom: none;
	color: $color-heading;
}

.entry-title a:hover {
	color: $color-accent;
}

.widget-title {
	margin-bottom: 20px;
	font-size: 20px;
}

.entry-title {

	.error404 & {
		margin-top: 50px;
		color: $color-heading;
	}
}

/* WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	padding-left: 20px;
	text-indent: -20px;
	list-style-position: inside;
	list-style-type: decimal;
}

.widget li li {
	margin: 0 0 0 30px;
	padding: 0;
	border: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
	padding: 0 0 24px;
	border-bottom: 1px solid $color-input;
}

.featured-content .entry-title {
	font-size: 20px;
}

/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget form {
	position: relative;
}

.enews-widget input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: 0 3px 3px 0;
}

/* EA Share Count
--------------------------------------------- */

.ea-share-count-button {
	border-bottom: none;
}

/* Ninja Forms
--------------------------------------------- */

.nf-form-cont .nf-field-label label {
	font-weight: 400;
}

.ninja-forms-req-symbol {
	font-size: 10px;
	vertical-align: super;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}

/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	min-height: 60px;
	padding: 10px 0;
	background-color: $color-dark;
	text-align: center;
	transition: padding 0.5s ease;

	&.shrink {
		padding: 10px 0;
	}

	.widget {
		display: none;
	}
}

/* Site Title and Description
--------------------------------------------- */

.title-area {
	display: flex;
	align-items: center;
	float: left;
	padding: 0.5em 0;
}

.site-title {
	display: block;
	float: left;
	margin-bottom: 0.1em;
	font-size: 18px;
	font-weight: bolder;
	line-height: 1;
}

.site-title a {
	display: block;
	float: left;
	border-bottom: none;
	color: $color-links;

	&:hover {
		color: $color-light;
	}
}

.site-description {
	display: block;
	float: left;
	margin-bottom: 0;
	margin-left: 10px;
	color: $color-links;
	font-size: 14px;
	white-space: nowrap;
}

.site-description,
.site-title {
	line-height: 1;
	vertical-align: middle;
}

.wp-custom-logo .site-title,
.wp-custom-logo .site-description {
	position: absolute;
	height: 0;
	text-indent: -9999px;
}

.custom-logo-link {
	display: block;
	float: left;
	height: 40px;
	border: none;
}

.custom-logo-link img {
	display: block;
	float: left;
	width: auto;
	height: 100%;
}

.header-widget-area {
	color: $color-links;

	input[type="search"] {
		margin-left: 1em;
		padding: 0.5em;
		font-size: 16px;
	}
}

/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary {
	display: none;
	width: 100%;
}

.genesis-nav-menu {
	clear: both;
	width: 100%;
	padding-top: 20px;
	font-size: 16px;
	font-weight: bolder;
	line-height: 1;

	.menu-item {
		display: block;
		position: relative;
		padding: 5px 0;
		text-align: left;

		&:last-of-type {
			margin-bottom: 10px;
		}
	}

	a {
		display: block;
		padding: 10px 0;
		border: none;
		color: $color-links;
	}

	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover {
		color: $color-white;
	}

	.sub-menu {
		display: none;
		position: relative;
		z-index: 99;
		left: auto;
		border-radius: 3px;
		opacity: 1;

		.menu-item {
			padding-left: 20px;

			&:first-of-type {
				margin-top: 10px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.sub-menu a {
		position: relative;
	}

	.menu-item:hover {
		position: static;
	}

	.menu-item a:focus + .sub-menu,
	.menu-item:hover > .sub-menu {
		top: auto;
		left: auto;
		opacity: 1;
	}

	.menu-item-has-children:before {
		float: right;
		z-index: 9999;
		right: 0;
		height: 16px;
		padding: 9px 0 9px 20px;
		text-align: right;
		content: "▾";
		cursor: pointer;
		transition: color 0.4s ease;
	}

	.sub-menu .sub-menu {
		margin: 0;
	}
}

/* Responsive Navigation
--------------------------------------------- */

.menu-button {
	display: block;
	float: right;
	position: absolute;
	top: 0;
	right: 5%;
	padding: 0.5em 0;
	color: $color-white;
	font-size: 20px;
	text-align: right;
	cursor: pointer;

	&:hover:before {
		color: $color-white;
	}
}

.no-js {

	.site-header {
		position: relative;
	}

	.site-inner {
		padding-top: 0;
	}

	.genesis-nav-menu {
		text-align: left;

		a {
			float: left;
			padding: 0 10px 10px 0;
		}

		.menu-item {
			display: inline;
		}

		.menu-item-has-children:before {
			display: none;
		}

		.sub-menu {
			display: inline;

			li {
				margin: 0;
				padding: 0;

				&:first-of-type {
					margin-top: 0;
				}
			}
		}
	}
}

/* Content Area
---------------------------------------------------------------------------------------------------- */

.entry-header .wrap,
.entry-content .wrap,
.entry-footer .wrap,
.breadcrumb .wrap,
.archive-description .wrap,
.entry-tags,
.front-page-posts .wrap {
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
}

.wrap .wrap {
	padding-right: 0;
	padding-left: 0;
}

.entry {

	.error404 & {
		width: 90%;
		max-width: 540px;
		margin: 50px auto;
	}

	.home .content > & {
		margin-bottom: 0;
	}
}

/* Entry Header
--------------------------------------------- */

.entry-header {
	padding: 50px 0 0;

	p {
		margin-top: 2em;
		margin-bottom: 0;
		color: $color-links;
	}

	.wrap {
		position: relative;
	}

	.entry-meta {
		font-size: 13px;
		white-space: nowrap;
		text-transform: capitalize;
	}

	.entry-meta span {
		float: left;
	}

	.entry-meta span:first-of-type {
		margin-right: 40px;
	}

	.entry-meta b {
		display: block;
		color: $color-heading;
		font-weight: 400;
	}

	.entry-time {
		display: block;
	}

	.entry-tags a,
	.entry-categories a {
		display: inline-block;
		border-bottom: none;
		font-weight: 300;
	}

	.blog &,
	.category &,
	.archive & {
		background: none !important;
	}

	.single &,
	.page & {
		padding: 150px 0 100px;
		background-position: center !important;
		background-size: cover !important;
		box-shadow: inset 0 0 0 9999px rgba(36, 43, 47, 0.8);
	}

	.single & .entry-meta b,
	.page & .entry-meta b {
		color: $color-white;
	}

	.front-page-posts & {
		padding: 0;
		background: none !important;
		box-shadow: none;

		.entry-meta b {
			color: $color-heading;
		}
	}

	.author-name {
		display: flex;
		margin: 20px 0 0 0.1em;
		font-size: 14px;
		vertical-align: middle;
		text-transform: capitalize;
		align-items: center;
		justify-content: flex-start;

		a {
			margin: 0.1em 0.618em 0 0.382em;
		}
	}
}

.front-page-posts {
	padding: 50px 0;
	border-top: 1px solid $color-light;

	.wrap > .button {
		margin-bottom: 2em;
	}

	.posts-title {
		margin-bottom: 2em;
	}
}

/* Entry Content
--------------------------------------------- */

.page .entry,
.single .entry {
	margin-bottom: 30px;
	border-bottom: 0;
}

.entry-content {
	padding: 20px 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: block;
		margin: 1em auto;
	}

	ol,
	ul {
		margin-bottom: 30px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	li li {
		list-style-type: circle;
	}

	pre code {
		display: block;
		clear: both;
		padding: 1em;
		border-radius: 5px;
		color: $color-links;
		background-color: $color-heading;
	}

	img {
		display: block;
		max-width: 100%;
	}

	p {
		word-break: break-word;
	}

	.single &,
	.page & {
		padding: 60px 0 40px;
	}

	.blog &,
	.archive &,
	.front-page-posts & {
		padding: 20px 0;
	}
}

.entry-image-link {
	display: block;
	border-bottom: none;

	.entry-tags + & {
		margin-top: 2em;
	}

	.front-page-posts & {
		margin-bottom: 1em;
	}
}

.entry + .alert {
	display: none; // Hardcoded in Genesis :(
}

.post-password-form {

	input[type="submit"] {
		margin-top: 10px;
	}
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	margin-bottom: 0;
}

.entry-categories,
.entry-tags {
	display: block;
	white-space: normal;
}

.entry-comments-link:before {
	margin: 0 6px 0 2px;
	content: "\2014";
}

.entry-tags {
	line-height: 1;

	.single & {
		padding: 10% 5% 5%;
	}
}

/* After Entry
--------------------------------------------- */

.after-entry .widget {
	max-width: 540px;
	margin: 0 auto 50px;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	max-width: 540px;
	margin: 50px auto 100px;
	padding: 0 5%;

	.front-page-posts & {
		padding: 0;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
	display: inline-block;
	margin-top: 1em;
}

.archive-pagination li a {
	display: inline-block;
	padding: 6px 10px;
	border-bottom: none;
	border-radius: 3px;
	color: $color-white;
	background-color: $color-heading;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: $color-accent;
}

/* Comments
--------------------------------------------- */

.comments {
	background-color: $color-input;

	> div:first-of-type {
		padding-top: 50px;
	}
}

.comments .entry-comments,
.comments .entry-pings,
.comments .comment-respond {
	max-width: 540px;
	margin: 0 auto;
	padding: 0 5% 50px;
}

.comments input:not([type="submit"]),
.comments select,
.comments textarea {
	background-color: $color-white;
}

.entry-comments h3 {
	margin-bottom: 2em;
}

p.comment-meta {
	margin-bottom: 1em;
}

.entry-comments .comment {
	margin-bottom: 40px;
}

.entry-comments .comment:last-child {
	margin-bottom: 0;
}

.comment-notes,
.entry-pings .reply {
	display: none;
}

.entry-comments .comment {
	border-bottom: 1px solid $color-input;
}

p.comment-form-comment {
	margin-bottom: 20px;
}

p.form-submit,
.entry-comments .comment-author {
	margin: 0;
	line-height: 1.2;
}

.entry-comments .comment {
	clear: both;
}

.entry-comments .children .comment {
	margin-top: 50px;
	border: none;
}

.comment-list li {
	list-style-type: none;
}

.comment-time {
	font-size: 13px;
}

.comment-content,
.comment-reply {
	padding-left: 66px;
}

.comment-content p {
	word-break: break-word;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	padding: 100px 0;
	border-top: 1px solid $color-light;
	text-align: center;

	.archive & {
		margin-top: 50px;
	}

	p {
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: 1em;
		font-size: 20px;
		font-weight: 400;
	}
}

/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 400px) {

	.gallery {
		display: flex;
		flex-wrap: wrap;
	}

	.gallery-item {
		width: 48.717948717948715%;
		margin: 0 0 2.564102564102564% 2.564102564102564%;

		.gallery-columns-1 & {
			width: 100%;
			margin: 0 0 2.564102564102564%;
		}

		&:nth-of-type(odd) {
			clear: left;
			margin-left: 0;
		}
	}
}

@media only screen and (min-width: 800px) {

	body {
		font-size: 20px;
	}

	.wrap,
	.site-inner > .breadcrumb .wrap {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
	}

	.site-inner {

		.home.blog & {
			padding-top: 120px;
			padding-bottom: 60px;
		}
	}

	.site-header {
		height: auto;
		padding: 20px 0;

		.wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:before,
			&:after {
				display: none;
			}
		}

		.widget {
			display: block;
			float: right;
			line-height: 46px;
		}
	}

	.title-area {
		width: 200px;
		margin-right: 0;
		text-align: left;
	}

	.custom-logo-link {
		height: 50px;
	}

	.site-description {
		margin-bottom: 0;
	}

	.nav-primary {
		display: block;
	}

	.genesis-nav-menu {
		margin-right: 0;
		padding-top: 0;
		font-size: 14px;

		a {
			padding: 18px 12px;
			line-height: 1;
		}

		.menu-item {
			display: inline-block;
			padding: 0;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.sub-menu {
			display: block;
			position: absolute;
			top: 400px;
			left: -9999px;
			padding-top: 10px;
			opacity: 0;
			background-color: $color-dark;

			a {
				margin: 5px 0;
				padding-top: 10px;
				padding-bottom: 10px;
				border: none;
			}

			&,
			a {
				width: 200px;
			}

			.menu-item {
				padding: 0;

				&:first-of-type {
					margin-top: 0;
				}

				&:last-of-type {
					margin-bottom: 5px;
				}
			}
		}
	}

	.no-js .genesis-nav-menu {

		.menu-item {
			display: inline-block;

			a {
				padding: 10px;
			}
		}

		.sub-menu {
			display: block;
			margin-top: 30px;
		}
	}

	.menu-item > .sub-menu {
		display: block;
		left: -9999px;
	}

	.menu-button,
	.menu-item-has-children:before,
	.menu-open.menu-item-has-children:before {
		display: none;
	}

	.breadcrumb {
		margin-bottom: 0;
		padding: 1.618em 0;
	}

	.entry {

		.error404 & {
			margin: 100px auto;
		}
	}

	.entry-header {
		padding-top: 100px;

		.author-name {
			margin: 20px 0 0 0.1em;
		}

		.single &,
		.page & {
			padding: 280px 0;
		}

		.front-page-posts & {
			padding: 100px 0 0;
		}
	}

	.archive-title,
	.entry-title {
		font-size: 54px;
	}

	div.archive-description {
		padding: 250px 0 180px;
	}

	.entry-header .entry-meta {
		position: absolute;
		top: 0;
		right: calc(100% + 50px);
		margin-top: 0.618em;
		text-align: right;
	}

	.entry-header .entry-meta span {
		float: right;
		margin-right: 0;
	}

	.entry-header .entry-meta span:first-of-type {
		margin-right: 0;
	}

	.entry-header .entry-categories {
		overflow: hidden;
		max-height: 8em;
	}

	.entry-header .entry-categories a,
	.entry-header .entry-tags a {
		display: block;
	}

	.entry-time {
		display: block;
		margin-bottom: 2em;
	}

	.entry-tags {

		.single & {
			padding: 100px 0 0;
		}
	}

	.entry-content {
		padding: 50px 0;

		.single &,
		.page & {
			padding: 100px 0;
		}

		.front-page-posts & {
			padding: 50px 0 0;
		}

		img.unwrap {
			width: calc(100% + 200px);
			max-width: calc(100% + 200px);
			margin: 50px -100px;

			&.wp-post-image {
				margin-top: 0;
			}
		}
	}

	.front-page-posts {
		padding: 100px 0;

		.posts-title {
			margin-bottom: 0;
		}
	}

	.after-entry .widget {
		margin: 0 auto 100px;
	}

	.comments {

		> div:first-of-type {
			padding-top: 100px;
		}
	}

	.comments .entry-comments,
	.comments .entry-pings,
	.comments .comment-respond {
		padding: 0 0 100px;
	}

	.comment-list ul.children {
		margin-left: 40px;
	}

	.pagination {
		margin: 100px auto;
		padding: 0;
	}

	.gallery {
		width: calc(100% + 200px);
		max-width: calc(100% + 200px);
		margin: 50px -100px;
	}

	.gallery-item {

		&:nth-of-type(odd) {
			clear: none;
			margin-left: 2.564102564102564%;
		}
	}

	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%;
	}

	.gallery-columns-2 .gallery-item,
	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%;
	}

	.gallery-columns-3 .gallery-item,
	.one-third,
	.two-sixths {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%;
	}

	.gallery-columns-4 .gallery-item,
	.one-fourth {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.gallery-columns-5 .gallery-item,
	.one-fifth {
		width: 17.9487179487179488%;
	}

	.two-fifths {
		width: 38.4615384615384616%;
	}

	.three-fifths {
		width: 58.9743589743589744%;
	}

	.four-fifths {
		width: 79.4871794871794872%;
	}

	.gallery-columns-6 .gallery-item,
	.one-sixth {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}

	.gallery-columns-1 .gallery-item:nth-child(1n + 1),
	.gallery-columns-2 .gallery-item:nth-child(2n + 1),
	.gallery-columns-3 .gallery-item:nth-child(3n + 1),
	.gallery-columns-4 .gallery-item:nth-child(4n + 1),
	.gallery-columns-5 .gallery-item:nth-child(5n + 1),
	.gallery-columns-6 .gallery-item:nth-child(6n + 1),
	.gallery-columns-7 .gallery-item:nth-child(7n + 1),
	.gallery-columns-8 .gallery-item:nth-child(8n + 1),
	.gallery-columns-9 .gallery-item:nth-child(9n + 1),
	.first {
		clear: both;
		margin-left: 0;
	}

	.site-footer h2 {
		font-size: 28px;
	}

	.site-footer {

		.archive & {
			margin-top: 100px;
		}
	}

	.ea-share-count-wrap.after_content {
		margin: -50px 0 50px;
	}
}
